/**************************************************************** ARTICLE*/

/**conteneur principal*/
.article{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);



}

/*élément du conteneur, la première colonne*/
.article__div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 700px;
}

/*élément du conteneur, la deuxième colonne*/
.article__figure{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;   
}


.article__figure img{
    width : 100%;
    display:block;
}


.article:nth-of-type(odd) .article__figure{
    order : -1;
}

.article figcaption{
    text-align: center;
    font-family: "Edu NSW ACT Cursive", cursive ;
    font-size: 12px;
}



.article figure:hover{
    transform: scale(1.1);

}


.article__h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 0, 0);
    font-family: "Carrois Gothic", sans-serif;
}

.article h3{
    color: red;
}