*{
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulaire{
    padding: 25px;
 
    

}

.inscription {
    background-image: url("../images/88d49e12acdfbb5aa416a3c5d12e7e63.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    
}

.formulaire__div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.formulaire__bouton{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    
        
}


.formulaire fieldset{
    margin: 30px 0;
    border: none;
    
}

.formulaire__label__2{
    padding-left: 50px;

}

.inscription__h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    color: red;
}

.inscription__h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: red;
}

.formulaire__robot{
    width : 233px;
    border: 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.formulaire__robot label {
    padding : 0px 20px;
}


.img__reload{
    display: block;
    margin: 0;
    padding-top: 9px;

}

.img__coins__inscription{
    display: flex;
    justify-content: end;
    position: absolute;
    left: 900px;
    top: 6700px;
    flex-wrap: wrap;
}