
.global{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;

}


.global h1, h2, h3, figcaption{
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;

}



.global h1, h2{
    padding: 0;
    margin: 0;
}

.global h1{
    font-size: clamp(0.5rem, 5vw, 4rem);
    padding: 30px;
}

.global ol{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    padding-bottom: 5px;
}

.recette{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.recette:nth-last-of-type(even) .recette__image{
    order: -1;
}




.recette__img{
    display: block;
    max-width: 300px;
    margin: 0;
    padding: 0;

}

.recette__figure{
    transform: rotate(5deg);
    transition: transform 2s, filter 2s;
    background-color: rgba(197, 142, 71, 0.678);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;   
}



.recette figure:hover{
    transform: scale(1.1);
}

.recette__figure:nth-of-type(odd){
    transform: rotate(-5deg);
}


.recette figcaption{
    text-align: center;
  
}

.recette li{
    padding-top: 10px;
    max-width: 500px;
}


.home{
    position: fixed;
    top: 850px;
    left: 1800px;
    z-index: 1; 
    transition: cubic-bezier(0.075, 0.82, 0.165, 1), filter 3s;
}


.home:hover{
   
    filter: hue-rotate(606deg);
}


.recette__hr{
    border: none;      
    border-top: 2px dotted #333;   
   
}


.recette__div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 345px;
}

/*élément du conteneur, la deuxième colonne*/
