*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

}

body > div > section,header{
    height: 100vh;
}
footer{
    height: 472px;
}
h1,h2,h3{
    margin: 0;
}



.centre{
    max-width: 1100px;
    margin: 0 auto;
    background-color: #ffffff3a;
    padding: 25px;
}

.hero > .centre {
   

}


body > div:nth-of-type(1){
    background: 
    linear-gradient(to bottom, transparent 80%, black 100%),
    url("../images/Alex-Ovechkin-goal-tacker-FTR.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

}

body > div:nth-of-type(2){

    height: 100vh;
    
    background:  linear-gradient(to top, transparent 80%, black 100%),
                    url("../images/pngtree-3d-rendering-of-a-hockey-rink-image_3704231.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    
}







body > div:nth-of-type(3){
    background-color: orange;

}


body > div:nth-of-type(4){
    background-color: blueviolet;

}


body > div:nth-of-type(5){
    background-color: red;

}

body > div:nth-of-type(6){
    background-color: cadetblue;

}


body > div:nth-of-type(7){
    background-color: rgb(0, 255, 149);

}



body > div:nth-of-type(8){
    background-color: rgb(0, 0, 0);
    height: 50vh;


}


/*************************************** hero*/

.hero{


}

.hero__barreSup{
    background-color: #ffffff7a;
    padding: 20px;
    
}


.hero__titre{
    color: #ff0000;
    font-size: 5rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    font-family: "Carter One", system-ui;
    display: flex;
    flex-direction: column;

    

}

.hero__sousTitre{
    color: #ff0000;
    font-size: 4rem;
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}


.hero__logo__1{
    border-radius: 100%;
    padding: 0;
    margin: 0;
}

.hero__logo{
    padding: 0;
    margin: 0;
}

.hero__auteur{
    top: 20px;
    right: 20px;
    text-align: right;
    color: red;
    font-family: "Edu NSW ACT Cursive", cursive;  
    

   
}

.hero__svg{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    border-radius: 10px;
    max-width: 305px;
    padding-top: 200px;
}



.hero__description{
    max-width: 500px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff98;
    border-radius: 10px;
    padding: 3px;
}

.hero__a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 150px;
    

}


.hero__div__a {
    background: linear-gradient(45deg, red, blue);
    max-width: 150px;
    border-radius: 10%;
    top: 20px;
    right: 20px;
    
}

.hero__div__a:hover{
    background: linear-gradient(45deg, blue, red);
}


/********************************************************************************/

.pro{
    padding-left: 20px;
}


/******************************************************************************** tableau */

table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ffffff;
      font-family: "Carrois Gothic", sans-serif;
   

}

caption{
    font-size: 3rem;
    padding: 7px;
    border: 1px solid #ffffff;
    color: white;
}
tr{
    border: 1px solid #aaa;
    transform: scale(1);
    transition: transform 1s;
    color: white;
 

}

td, th{
    border: 1px solid #ffffff;
    font-size: 2rem;
    padding: 5px;
    text-align: left;
    color: white;
 
 
    
}

tr:hover{
    transform: scale(1.1);
}

th{
    font-style: italic;
    font-weight: bold;
}


th{

}


tbody tr:nth-of-type(odd){
    background-color: #0000001a;
}

.td__pays{
    padding-left: 70px;
}


.tr__principal{
    color: red;
}

/**************************************************************** FOOTER*/


.pied{}

.pied__lien{
display : flex;
flex-wrap: wrap;
gap: 100px;
padding-left: 20px;

}


ul{
    list-style: none;
    line-height: 25px;
    padding: 0;
    margin: 0;
    
}


.pied__section{
    font-size: 15px;
    color: white;
    flex: 1 0 170px;
    max-width: 300px;
}



.pied__section h2{
    color: white;
}





.pied__section ul{
    list-style: none;
    line-height: 25px;
    padding: 0;
    margin: 0;
    
}




figure{
    margin: 0;
}

.pied__svg{
    display: flex;
    padding-bottom: 20px;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 530px;
    gap: 30px;
    margin: 0;
    
    
}


.pied__section__3{
    color: white;
    font-size: 10px;
    
}


.pied__section a{
    text-decoration: none;
    padding: 0px 1px;
    margin: 0;
    color: rgb(161, 17, 17);
}